.container {
    margin: 0 20px;
}

.title {
    font-weight: bold;
    font-size: 32px;
}
.container p {
    font-size: 18px;
    line-height: 24px;
}

@media all and (min-width: 768px) {
    .container {
        margin: 30px 40px 0 40px;
    }

    .title {
        font-size: 28px;
    }
    .container p {
        font-size: 16px;
        line-height: 20px;
    }
}
@media all and (min-width: 1140px) {
    .container {
        margin: 190px auto 0 auto;
        max-width: 750px;
    }

    .title {
        font-size: 42px;
    }
    .container p {
        font-size: 24px;
        line-height: 32px;
    }
}
