.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.windowRed {
  border: 3px solid red;
  width: 400px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
}
