.App {
  text-align: center;
}
.hearts {
  margin-top: 20%;
}
.list {
  list-style: none;
  border: 2px solid black;
  height: 28vh;
  margin: 10px;
}
.people-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.image-container {
  padding-top: 10px;
}
.link {
  text-decoration: none;
}
