.App {
  text-align: center;
}
.hearts {
  margin-top: 20%;
}
.list {
  list-style: none;
  border: 2px solid black;
  height: 28vh;
  margin: 10px;
}
.people-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.image-container {
  padding-top: 10px;
}
.link {
  text-decoration: none;
  color: black;
}
.detail {
  border: 4px solid black;
  width: 20vw;
  margin: auto;
  padding: 10px 0;
}
.container-detail {
  margin-top: 20%;
}

.detail__button {
  margin-top: 10px;
  padding: 5px 10px;
}
