* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: lightgrey;
}
h1 {
    padding-bottom: 20px;
}
.nav {
    background-color: lime;
}
.main {
    background-color: yellow;
}
.main h2 {
    padding-bottom: 20px;
}
.footer {
    background-color: gray;
    margin: 20px 0;
}
.footer h3 {
    padding-bottom: 20px;
}

@media all and (min-width: 480px) {
    .container {
        display: flex;
    }
    .nav {
        margin-right: 20px;
        flex-basis: 30%;
        height: 60px;
    }
    .main-footer {
        flex-basis: 70%;
    }
    .footer {
        margin: 0;
    }
    .square {
        width: 160px;
        height: 160px;
        background-color: orange;
        flex-basis: 50%;
    }
    .p-square {
        display: flex;
    }
    .p-square p {
        flex-basis: 50%;
    }
}
