.display1 {
    width: 100px;
    height: 100px;
    background-color: chocolate;
}
.display2 {
    width: 100px;
    height: 100px;
    background-color: purple;
}
.display3 {
    width: 100px;
    height: 100px;
    background-color: green;
}
