* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav {
    border: 1px solid orange;
}

.nav-bar {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px 0 20px;
}

.nav-bar {
    list-style: none;
}
