* {
    box-sizing: border-box;
    margin: 0;
}

.container {
    max-width: 960px;
    border: 1px solid black;
    margin: auto;
    margin-top: 200px;
}
.header {
    background-color: red;
    text-align: center;
}

.section {
    display: flex;
}
