* {
    box-sizing: border-box;
    margin: 0;
}

.container {
    max-width: 960px;
    margin: auto;
    margin-top: 200px;
}
.header {
    background-color: red;
    text-align: center;
}

.section {
    display: flex;
}

.aside1 {
    background-color: yellow;
    text-align: center;
    padding: 0 60px 30px 60px;
}

.article {
    background-color: cyan;
    text-align: center;
}

.aside2 {
    background-color: fuchsia;
    text-align: center;
    padding: 0 60px 30px 60px;
}

.footer {
    background-color: green;
    text-align: center;
}
