* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    border: 8px solid black;
}
.contain {
    margin: 108px;
}
.contain h4 {
    font-size: 18px;
    margin-bottom: 40px;
}
.contain h1 {
    font-size: 32px;
    margin-bottom: 32px;
}
.contain p {
    font-size: 18px;
    margin-bottom: 27px;
}
.link {
    padding: 8px 16px;
    margin-bottom: 32px;
    margin-left: -16px;
    cursor: help;
}
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: white;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    border: 1px solid black;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
