* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    border: 1px solid black;
    width: 500px;
    height: 1000px;
    margin: auto;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.second {
    order: 1;
    width: 50%;
}

.five {
    order: 0; /*al tener menor order, pesa menos y se situa arriba*/
    width: 100%;
}

.five img {
    margin-left: 130px;
}
